
body {
    font-size: 12px;
}
h1.forumtitle {
    padding: 15px 0;
    font-weight: 100;
}
a:focus, a:hover {
    text-decoration: none;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropup .dropdown-submenu>.dropdown-menu{top:auto;bottom:0;margin-top:0;margin-bottom:-2px;-webkit-border-radius:5px 5px 5px 0;-moz-border-radius:5px 5px 5px 0;border-radius:5px 5px 5px 0;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}
.dropdown-submenu.pull-left> 
.dropdown .dropdown-menu .nav-header{padding-left:20px;padding-right:20px;}
#top_section {
    background: #f7f7f7;
}
.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
}
.avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: inline-block;
}
/**fix**/
.dl-horizontal dt img {
    margin-right: 10px;
}
.fix-margin {
    margin: 0;
    padding: 0;
}
.fix-padding{
    padding-left: 0;
    padding-right: 0;
}
select.form-control, .sfix {
    padding: 7px!important;
    height:auto!important;
}
.sub-foros {
    background: #efefef;
    overflow: hidden;
    display: inline-block;
}
 
.buttonlist ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.heading-h {
    font-size: 14px;
    overflow: hidden;
}
.oClean {
    background: none;
    border: none;
}
.h1, .h2, .h3, h1, h2, h3, h4, h5{
    padding: 0;
    margin: 0;
}
.header h3, .header h3 a, .panel h3 {
    font-size: 14px;
    font-weight: bold;
}
/**board index**/
.uIcon {
    width: 5%;
    text-align: center;
}

.uLastpost {
    width: 20%;
}

.uInfo {
    width: 61%;
}

.uStats {
    width: 14%;
}
 
.uIcon, .uInfo, .uStats, .uLastpost{display: inline-block;vertical-align: middle;padding: 0 10px;}
/** poter footer moderator links**/
.uList .rLinks {
    display: inline-block;
}
.uList {
    padding-right: 0;
}
.uList a {
    margin: -21px 0;
    padding: 10px;
    display: inline-block;
    border-left: 1px solid #dddddd;
}
/**anterior siguiente**/
.pager a:first-of-type {
float:left;
}
.pager a:last-of-type {
float:right;
}
.pager a{
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;

}
dt, dd {
    margin: 5px 0;
}
 
/**pagination**/
.smfPagination {
    background: whitesmoke;
    padding: 7px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    border: 1px solid #dddddd;
}
.uMarging{
    margin:15px;
}